@page
@model SystemInfoModel
@{
  ViewData["Title"] = "System Information";
}

<div class="card shadow-sm">
    <h5 class="card-header bg-info text-white">🖥️ System Information</h5>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <td><i class="fa fa-fw fa-home"></i> Hostname:</td>
                <td>@Model.hostname</td>
            </tr>
            <tr>
                <td><i class="fas fa-fw fa-cogs"></i> OS Details:</td>
                <td>@Model.osDesc</td>
            </tr>
            <tr>
                <td><i class="fa fa-fw fa-microchip"></i> Architecture:</td>
                <td>@Model.osArch - @Model.processorCount cores</td>
            </tr>
            <tr>
                <td><i class="fab fa-fw fa-codepen"></i> Framework:</td>
                <td>@Model.framework</td>
            </tr>
            <tr>
                <td><i class="fas fa-fw fa-memory"></i> Memory:</td>
                <td>@Model.workingSet MB / @String.Format("{0,12:n} MB", Model.physicalMem)</td>
            </tr>
        </table>
    </div>
</div>
